*.class
*.bak

# Package Files #
*.jar
*.war
*.ear
Diagramms/AuctionSystem.asta.lock
Diagramms/UseCasesRMI.asta.bak
Diagramms/AuctionSystem.asta.lock
Diagramms/UseCasesRMI.asta.lock
Diagramms/AuctionSystem.asta.bak
Diagramms/AuctionSystem.asta.bak
Diagramms/activitydiagramV2.asta.lock
